@import '../../assets/styles/globals.css';

.logbook-container{
    padding: 10px 70px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;   
}

.logbook-container h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--black);
}

.logbook-container .log-search-bar{
    width: 500px;
    height: 50px;
    padding-left: 10px;
    border-radius: 5px;
}

.logbook-container .log-search-bar:hover,
.logbook-container .log-search-bar:active,
.logbook-container .log-search-bar:focus{
    outline: none !important;
}

.logbook-container .logbook-search{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logbook-container .log-search-button{
    background-color: var(--tup-color);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 50px;
    padding: 0;
    box-shadow: 0px 1px 2px var(--shadow);
}

.logbook-container .log-search-button:hover,.logbook-container .log-search-button:focus{
    border-color: var(--button) !important;
    background-color: var(--button) !important;
    color: var(--white) !important;
}

.logbook-container .logbook-filters{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.logbook-container .logbook-filters .form-select{
    width: 100px;
    height: 50px;
    box-shadow: 0px 1px 2px var(--shadow);
}


.logbook-container .logbook-table{
    table-layout: fixed;
    overflow: hidden;
    outline: 1px solid var(--tup-color) !important;
    width: 100%;
    /* min-height: 500px; */
    border-radius: 5px;
    font-size: 0.8rem;
    box-shadow: 0px 1px 5px var(--shadow);
}

.logbook-container .logbook-table-box thead{
    position: sticky;
    top: 0;
}

.logbook-container .logbook-table thead{
    background-color: var(--tup-color);
}

.logbook-container .logbook-table tr td{
    padding: 13px;
    text-align: start;
    font-size: 0.9rem;
}

.logbook-container .logbook-table thead tr td{
    color: var(--white);
}

.logbook-container .logbook-table tbody tr:nth-child(even){
    background-color: var(--light-red);
}

.logbook-container .logbook-table-button-pagination button{
    color: var(--tup-color);
    background-color: transparent   ;
    border: none;
}

