@import '../../assets/styles/globals.css';

.import-error-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.import-error-overlay{
    background-color: var(--shadow);
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.import-error-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    background-color: var(--white);
    border-radius: 15px;
    overflow: hidden;
}

.import-error-box .data-box{
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.import-error-container .error{
    font-size: 0.8rem;
}

